OMInsurance.Services.DMZ.PolicyStatusService/Service References/InternalPolicyStatusService/PolicyStatusService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.175.32.224:21236/PolicyStatusService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OMInsurance.Services.Entities" />
  <xs:element name="GetStatusByUnifiedPolicyNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regionId" type="xs:int" />
        <xs:element minOccurs="0" name="unifiedPolicyNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusByUnifiedPolicyNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OMInsurance.Services.Entities" minOccurs="0" name="GetStatusByUnifiedPolicyNumberResult" nillable="true" type="q1:PolicyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusByNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regionId" type="xs:int" />
        <xs:element minOccurs="0" name="series" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusByNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OMInsurance.Services.Entities" minOccurs="0" name="GetStatusByNumberResult" nillable="true" type="q2:PolicyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusByTemporaryPolicyNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regionId" type="xs:int" />
        <xs:element minOccurs="0" name="temporaryPolicyNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusByTemporaryPolicyNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OMInsurance.Services.Entities" minOccurs="0" name="GetStatusByTemporaryPolicyNumberResult" nillable="true" type="q3:PolicyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusByFIOBirthday">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regionId" type="xs:int" />
        <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secondname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="birthday" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusByFIOBirthdayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/OMInsurance.Services.Entities" minOccurs="0" name="GetStatusByFIOBirthdayResult" nillable="true" type="q4:Policy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFIOByPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regionId" type="xs:int" />
        <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFIOByPhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/OMInsurance.Services.Entities" minOccurs="0" name="GetFIOByPhoneResult" nillable="true" type="q5:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/OMInsurance.Services.Entities" minOccurs="0" name="GetRegionsResult" nillable="true" type="q6:ArrayOfRegion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>