OMInsurance.Services.DMZ.PolicyStatusService/Service References/InternalPolicyStatusService/PolicyStatusService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OMInsurance.Services.Entities.Core.Faults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OMInsurance.Services.Entities.Core.Faults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DataObjectNotFoundFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataObjectNotFoundFault" nillable="true" type="tns:DataObjectNotFoundFault" />
  <xs:complexType name="ServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ServerStackTrace" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceFault" nillable="true" type="tns:ServiceFault" />
</xs:schema>